<html>
<body>

<div id="mocha"></div>

<!-- test frameworks -->
<script src="components/sinonjs/sinon.js"></script>

<!-- prereqs -->
<script src="components/jquery/jquery.js"></script>

<!-- mocha and assert module -->
<script src="<%= assertPath %>"></script>
<script src="<%= mochaPath %>"></script>

<script>
  mocha.setup('bdd');
</script>

<!-- js src -->
<% srcPaths.forEach(function (path) {  %><script src="<%= path %>"></script>
<% }); %>

<!-- test codes -->
<% testPaths.forEach(function (path) {  %><script src="<%= path %>"></script>
<% }); %>
<!-- run test -->
<script>
<% if (checkLeaks) { %>
mocha.checkLeaks();
<% } %>
window.onload = function () {
  if (window.mochaPhantomJS) {
    mochaPhantomJS.run();
  } else {
    mocha.run();
  }
};

</script>
</body>
</html>
